<main>
    <div class="head-title">
        <div class="left">
            <h1>Panel</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="/user" class="active">Panel</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a href="/user/pedidos" class="active">Pedidos</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a href="#">Pedido</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>¡Tu pedido está en camino!</h3>
            </div>
            <div class="stepper-wrapper">
                <div class="stepper-item completed">
                  <div class="step-counter"><i class='bx bx-check'></i></div>
                  <div class="step-name">En preparación</div>
                </div>
                <div class="stepper-item completed">
                  <div class="step-counter"><i class='bx bx-check'></i></div>
                  <div class="step-name">Despacho</div>
                </div>
                <div class="stepper-item active">
                    <div class="step-counter"><i class='bx bx-check'></i></div>
                  <div class="step-name">En camino</div>
                </div>
                <div class="stepper-item">
                    <div class="step-counter"><i class='bx bx-check'></i></div>
                  <div class="step-name">Entregado</div>
                </div>
            </div>
            <div class="moreInfo">
                
                <div class="detalles2">
                    <h5>CODIGO DE SEGURIDAD</h5>
                    <ul>
                        <li><small><%- order.code %></small></li>
                    </ul>
                </div>
                <div class="details">
                    <div>
                        <h5>Detalles de la orden</h5>
                        <p><%- order.order %></p>
                    </div>
                </div>
                <div class="detalles">
                    <h5>Detalles del pedido</h5>
                    <ul id="logsList">
                        <!-- <li><small>15 jul 15:00 | El pedido esta en preparación</small></li>
                        <li><small>15 jul 15:00 | El pedido esta siendo paletizado</small></li>
                        <li><small>15 jul 15:00 | El pedido esta siendo checkeado</small></li>
                        <li><small>15 jul 15:00 | El pedido esta siendo cargado</small></li>
                        <li><small>15 jul 15:00 | El pedido esta en camino</small></li>
                        <li><small>15 jul 15:00 | El pedido fue entregado con éxito</small></li>
                        <li><small>15 jul 15:00 | El pedido fue demorado</small></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    let order = JSON.parse('<%- JSON.stringify(order) %>');
</script>
<script src="<%= getFile('user/js/orderHandler.js') %>"></script>
<script src="<%= getFile('user/js/client/order.js') %>"></script>